Flask>=3.0,<4.0
Flask-Limiter>=3.8,<5.0
gunicorn>=23.0,<24.0
setuptools>=75
pandas>=2.0
openpyxl>=3.1
python-dotenv>=1.0
selenium>=4.20
webdriver-manager>=4.0
undetected-chromedriver>=3.5
requests>=2.31
pyautogui>=0.9
pygetwindow>=0.0.9